[submodule "cores/modernAVR"]
	path = cores/modernAVR
	url = https://github.com/askn37/MacroMicroAPI_core.git
[submodule "libraries/M5_Modules"]
	path = libraries/M5_Modules
	url = https://github.com/askn37/M5_Modules_lib.git
[submodule "libraries/modernAVR"]
	path = libraries/modernAVR
	url = https://github.com/askn37/MacroMicroAPI_lib.git
[submodule "libraries/UPDI4AVR"]
	path = libraries/UPDI4AVR
	url = https://github.com/askn37/UPDI4AVR.git
[submodule "libraries/TPI4AVR"]
	path = libraries/TPI4AVR
	url = https://github.com/askn37/TPI4AVR.git
